<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cell Matching</title>
</head>
<body>
    <h1>Cell matching</h1>
    <a href="http://cellmatching.pythonanywhere.com/display/results">Results</a>
    <p>Do these cells match?</p>
    <center>
        <img src="/plot/{{id}}.png" alt="my plot" height="300px" width="350px">

    <form  method = "post">
        <input type="submit" name="submit_button" value="Yes">
        <input type="submit" name="submit_button" value="Unsure">
        <input type="submit" name="submit_button" value="No">
    </form>

    </center>
</body>
</html>
